.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

**/*/.vscode
!.vscode

.clinic
.docker/certs
packages/**/src/_output
.vscode/.josh.*

*.secrets

.tsbuildinfo
node_modules
.turbo
out
*.log
.next
.dist
dist
dist-ssr
*.local
.cache
server/dist
public/dist
.turbo
.DS_*
tmp
temp
logs
.*cache
*.profraw
apps/**/build
apps/**/dist
apps/**/out
apps/**/storybook-static
packages/**/build
packages/**/dist
packages/**/out
packages/**/storybook-static
packages/image-processor/src/_output
playground
**/playground

## Whitelist
!.env.example
